<div>
    <h1>login</h1>
    <h2>email: </h2>
    <input id= "email-input"/>
    <h2>Password: </h2>
    <input id= "Password-input"/>
    <button id = "login_btn">Login</button>
</div>
<script src="/js/login.js"></script>